<head>
    <title>.sgnirts :: certificados</title>
</head>

<!-- Desktop Header -->
<header class="header">

    <p class="logo-header">.sgnirts</p>

    <nav class="menu">
        <a href="/">inicio</a>
        <a href="sobre">sobre</a>
        <a href="projetos">projetos</a>
    </nav>

    <p><a class="contact" href="contato">contato</a></p>

</header> 
<!---->

<!-- Mobile Header -->
<header class="header-mobile">

    <p class="logo-header-mobile">.sgnirts</p>

    <p><a class="contact-mobile" href="contato">contato</a></p>

</header> 

<nav class="menu-mobile">
    <a href="/">inicio</a>
    <a href="sobre">sobre</a>
    <a href="projetos">projetos</a>
</nav>
<!---->

<main> 

    <section class="main-position-certificate">
        
        <div class="main-text-certificate">
            <h1>.Certificados</h1>
            <p>Certificados de cursos concluídos com sucesso.</p>
        </div>
        
        <div class="certificate">

            <div class="certificate-box">
                <div class="certificate-box-img">
                    <img src="/img/html_cert.png" alt="imagem com escrita HTML + CSS">
                </div>
                <div class="certificate-box-text">
                    <h1>HTML + CSS</h1>
                    <a href="https://cursos.alura.com.br/certificate/0020f2d6-33e7-41b9-8299-a757b7347e47" target="_blank"><p><span>&nbsp;&rarr;Parte 1: a primeira página da Web&larr;</span></p></a>
                    <a href="https://cursos.alura.com.br/certificate/7002acc8-9e79-4c64-a4cc-864e850490a9" target="_blank"><p><span>&nbsp;&rarr;Parte 2: posicionamento, listas e navegação&larr;</span></p></a>
                    <a href="https://cursos.alura.com.br/certificate/73f0a66d-a972-42d9-9bed-14e0f106befc" target="_blank"><p><span>&nbsp;&rarr;Parte 3: trabalhando com formulários e tabelas&larr;</span></p></a>
                    <a href="https://cursos.alura.com.br/certificate/62e7b1e7-609e-495d-8166-feb4c067e86e" target="_blank"><p><span>&nbsp;&rarr;Parte 4: avançando no CSS&larr;</span></p></a>
                </div>
            </div>

            <div class="certificate-box">
                <div class="certificate-box-img">
                    <img src="/img/js_cert.png" alt="imagem com tela do navegador e escrito JS">
                </div>
                <div class="certificate-box-text">
                    <h1>JavaScript</h1>
                    <a href="https://cursos.alura.com.br/certificate/e777c21a-ed27-434a-af77-4c858c5af90b" target="_blank"><p><span>&nbsp;&rarr;Primeiros passos com a linguagem&larr;</span></p></a>
                    <a href="https://cursos.alura.com.br/certificate/3b95f378-5d30-4736-88dd-cbe6ba9d9a59" target="_blank"><p><span>&nbsp;&rarr;Programando a Orientação a Objetos&larr;</span></p></a>
                </div>
            </div>

            <div class="certificate-box">
                <div class="certificate-box-img">
                    <img src="/img/php.png" alt="imagem com tela do navegador e escrito PHP">
                </div>
                <div class="certificate-box-text">
                    <h1>Introdução ao PHP</h1>
                    <a href="https://cursos.alura.com.br/certificate/a4f68c4a-f07f-4af0-93de-5db8e69b42bc" target="_blank"><p><span>&nbsp;&rarr;Primeiros passos com a linguagem&larr;</span></p></a>
                </div>
            </div>

            <div class="certificate-box">
                <div class="certificate-box-img">
                    <img src="/img/logica.png" alt="imagem com uma nuvem e escrito CODE">
                </div>
                <div class="certificate-box-text">
                    <h1>Lógica de Programação</h1>
                    <a href="https://cursos.alura.com.br/certificate/bc7e309f-b606-4a65-99d9-dd2158f4d8d6" target="_blank"><p><span>&nbsp;&rarr;Os primeiros programas com Javascript e HTML&larr;</span></p></a>
                    <a href="https://www.softblue.com.br/certificado/0561421BC143" target="_blank"><p><span>&nbsp;&rarr;Lógica de Programação&larr;</span></p></a>
                </div>
            </div>

            <div class="certificate-box">
                <div class="certificate-box-img">
                    <img src="/img/sql.png" alt="imagem com trla do navegador e uma lupa">
                </div>
                <div class="certificate-box-text">
                    <h1>SQL Básico</h1>
                    <a href="https://www.softblue.com.br/certificado/049664D22260" target="_blank"><p><span>&nbsp;&rarr;Curso de SQL básico&larr;</span></p></a>
                </div>
            </div>

        </div>
        
        <div class="social-media-new">
            <a href="https://www.linkedin.com/in/felipeforigo/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/forigo" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/felipeforigo/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/felipeforigo" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://discord.com/users/Felipe%20Forigo#9713" target="_blank"><i class="fa-brands fa-discord"></i></a>
        </div>

    </section>

    <section class="footer">
        <img src="/img/fori_footer_.png" alt="minha foto de braços cruzados">
    </section>
    
</main>
