<head>
    <title>.sgnirts :: explorer</title>
</head>

<!-- Desktop Header -->
<header class="header">

    <a href="/"><p class="logo-header">.sgnirts</p></a>

    <nav class="menu">
        <a href="/">inicio</a>
        <a href="sobre">sobre</a>
        <a href="projetos">projetos</a>
    </nav>

    <p><a class="contact" href="contato">contato</a></p>

</header> 
<!---->

<!-- Mobile Header -->
<header class="header-mobile">

    <a href="/"><p class="logo-header-mobile">.sgnirts</p></a>

    <p><a class="contact-mobile" href="contato">contato</a></p>

</header> 

<nav class="menu-mobile">
    <a href="/">inicio</a>
    <a href="sobre">sobre</a>
    <a href="projetos">projetos</a>
</nav>
<!---->

<main>   

    <section class="main-position-portfolio">

            <div class="projects-section">

                <h1>.Projeto 01 - Móveis Customizados</h1>
                <img src="/img/explorer_project1.png" alt="imagem do projeto em diferentes formatos, desktop, mobile e table">
                <p>Página básica simulando uma empresa de móveis sob medida.</p>
                <p><span>&nbsp;&rarr;HTML & CSS&larr;</span></p>
                
                <div class="button-portfolio">
                    <div class="button-more-portfolio">
                        <a href="https://github.com/forigo/moveis-customizados" target="_blank">Ir para o Github</a>
                    </div>
                    <div class="button-more-portfolio">
                        <a href="https://sgnirts.dev/moveis-customizados/" target="_blank">Abrir projeto</a>
                    </div>
                </div>

                <h1>.Projeto 02 - Treine.me</h1>
                <img src="/img/treine_me_project.png" alt="imagem do projeto em diferentes formatos, desktop, mobile e table">
                <p>Página básica simulando serviço de personal trainer.</p>
                <p><span>&nbsp;&rarr;HTML & CSS&larr;</span></p>
                
                <div class="button-portfolio">
                    <div class="button-more-portfolio">
                        <a href="https://github.com/forigo/treine-me" target="_blank">Ir para o Github</a>
                    </div>
                    <div class="button-more-portfolio">
                        <a href="https://sgnirts.dev/treine-me/" target="_blank">Abrir projeto</a>
                    </div>
                </div>

                <h1>.Projeto 03 - Rocket.sect</h1>
                <img src="/img/rocket_sect_project.png" alt="imagem do projeto em diferentes formatos, desktop, mobile e table">
                <p>Página básica simulando serviço de segurança de dados.</p>
                <p><span>&nbsp;&rarr;HTML & CSS&larr;</span></p>
                
                <div class="button-portfolio">
                    <div class="button-more-portfolio">
                        <a href="https://github.com/forigo/rocket-sect" target="_blank">Ir para o Github</a>
                    </div>
                    <div class="button-more-portfolio">
                        <a href="https://sgnirts.dev/rocket-sect/" target="_blank">Abrir projeto</a>
                    </div>
                </div>

                <h1>.Projeto 04 - Crie e compartilhe seu evento</h1>
                <img src="/img/form_evento.png" alt="imagem do projeto em diferentes formatos, desktop, mobile e table">
                <p>Modelo de formulário para criar um evento.</p>
                <p><span>&nbsp;&rarr;HTML & CSS&larr;</span></p>
                
                <div class="button-portfolio">
                    <div class="button-more-portfolio">
                        <a href="https://github.com/forigo/html-form" target="_blank">Ir para o Github</a>
                    </div>
                    <div class="button-more-portfolio">
                        <a href="https://sgnirts.dev/html-form/" target="_blank">Abrir projeto</a>
                    </div>
                </div>

                <h1>.Projeto 05 - Bakery Donut</h1>
                <img src="/img/donut_project.png" alt="imagem do projeto em diferentes formatos, desktop, mobile e table">
                <p>Página básica simulando uma confeitaria</p>
                <p><span>&nbsp;&rarr;HTML & CSS&larr;</span></p>
                
                <div class="button-portfolio">
                    <div class="button-more-portfolio">
                        <a href="https://github.com/forigo/bakery-donut" target="_blank">Ir para o Github</a>
                    </div>
                    <div class="button-more-portfolio">
                        <a href="https://sgnirts.dev/bakery-donut/" target="_blank">Abrir projeto</a>
                    </div>
                </div>

                <div class="button-more-portfolio-back">
                    <a href="projetos">Voltar</a>
                </div>
                
                <div class="social-media-new">
                    <a href="https://www.linkedin.com/in/felipeforigo/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/forigo" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.instagram.com/felipeforigo/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://twitter.com/felipeforigo" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://discord.com/users/Felipe%20Forigo#9713" target="_blank"><i class="fa-brands fa-discord"></i></a>
                </div>

            </div>
            
    </section>
    
</main>
