<head>
    <title>.sgnirts :: gustavo lima advocacia</title>
</head>

<!-- Desktop Header -->
<header class="header">

    <a href="/"><p class="logo-header">.sgnirts</p></a>

    <nav class="menu">
        <a href="/">inicio</a>
        <a href="sobre">sobre</a>
        <a href="projetos">projetos</a>
    </nav>

    <p><a class="contact" href="contato">contato</a></p>

</header> 
<!---->

<!-- Mobile Header -->
<header class="header-mobile">

    <a href="/"><p class="logo-header-mobile">.sgnirts</p></a>
    <p><a class="contact-mobile" href="contato">contato</a></p>

</header> 

<nav class="menu-mobile">
    <a href="/">inicio</a>
    <a href="sobre">sobre</a>
    <a href="projetos">projetos</a>
</nav>
 <!---->

<main>   

    <section class="main-position-portfolio">
        
        <div class="projects-section">
            <h1>.Gustavo Lima Advocacia</h1>
            <img src="/img/gustavolima_template.png" alt="imagem do site do escritório Gustavo Lima Advocacia em diferentes formatos, desktop, mobile e table">
            <p>Projeto elaborado para um escritório de advocacia.</p>
            <p><span>&nbsp;&rarr;HTML, CSS, JavaScript&larr;</span></p>

            <div class="button-portfolio">
                <div class="button-more-portfolio">
                    <a href="https://gustavolimaadvocacia.com.br" target="_blank">Ir para o site</a>
                </div>
            </div>

            <div class="button-more-portfolio-back">
                <a href="projetos">Voltar</a>
            </div>
            
            <div class="social-media-new">
                <a href="https://www.linkedin.com/in/felipeforigo/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/forigo" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/felipeforigo/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/felipeforigo" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://discord.com/users/Felipe%20Forigo#9713" target="_blank"><i class="fa-brands fa-discord"></i></a>
            </div>

        </div>
        
    </section>
    
</main>
