<head>
    <title>.sgnirts :: início</title>
</head>

<!--Desktop Header -->
<header class="header">

    <p class="logo-header">.sgnirts</p>

    <nav class="menu">
        <a class="menu-ativo" href="/" lng-tag="inicio">inicio</a>
        <a href="/sobre" lng-tag="sobre">sobre</a>
        <a href="/projetos" lng-tag="projetos">projetos</a>
    </nav>

    <p><a class="contact" href="/contato" lng-tag="contato">contato</a></p>

</header>  
<!---->

<!--Mobile Header -->
<header class="header-mobile">

    <p class="logo-header-mobile">.sgnirts</p>

    <p><a class="contact-mobile" href="/contato" lng-tag="contato">contato</a></p>

</header> 

<nav class="menu-mobile">
    <a class="menu-ativo-mobile" href="/" lng-tag="inicio">inicio</a>
    <a href="/sobre" lng-tag="sobre">sobre</a>
    <a href="/projetos" lng-tag="projetos">projetos</a>
</nav>
<!---->

<main>

    <section class="main-position">

        <div class="main-text">

            <h1 lng-tag="ola_meu_nome_e_felipe_forigo_do_carmo">Olá, meu nome é Felipe Forigo do Carmo</h1>
            <p lng-tag="bacharel_em_sistemas_de_informacao_e_estudando_desenvolvimento_web_na_rocketseat">Bacharel em Sistemas de Informação e estudando desenvolvimento web na <a style="color: #9d5ecd; text-decoration: dotted;" href="#">Rocketseat.</a></p>
        </div>

        <div class="buttons">
            
            <div class="button-more">
                <p><a href="#sobre" lng-tag="mais">Mais</a></p>
            </div>
            
            <div class="button-certificate">
                <p><a href="#certificados" lng-tag="certificados">Certificados</a></p>
            </div>
        
        </div>
    
        <div class="footer-mobile">
            <img src="/img/fori_footer_.png" alt="minha foto de braços cruzados">
        </div>

        <div class="chill">
            <p>&lt;chill out&gt;</p>

            <div class="chill-box">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5TeyE0xC8KUgV4orkFRntt?utm_source=generator" 
                width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

        </div>
    
        <div class="social-media-new">
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-solid fa-rocket"></i></a>
        </div>
    </section>
    
    <section class="footer">
       <img src="/img/fori_footer_.png" id="footer-img" alt="minha foto de braços cruzados">
    </section>

</main>
